 .alternation {

   &-block {
     display: flex;
     justify-content: space-between;
   }

   &-element {
     margin: 0 auto;
     margin-bottom: 10px;
     text-align: center;
     max-width: 155px;
   }

   // .alternation__img

   &__img {
     margin-bottom: 30px;
     position: relative;



     &::after {
       content: url("../img/alternation/arrow.png");
       position: absolute;
       left: 103%;
       top: -10%;

     }


     img {
       border: solid 3px #ffd200;
       border-radius: 50%;
       padding: 25px;
       width: 90px;
       height: 90px;
     }
   }

   // .alternation__text

   &__text {
     font-size: 14px;
   }

 }

 #last-child::after {
   display: none;
 }


 @media screen and (min-width:768px) and (max-width:1024px) {
   .alternation {


     // .alternation__img

     &__img {


       &::after {
         display: none;
       }


     }

     // .alternation__text


   }
 }

 @media screen and (max-width:767px) {
   .alternation {

    &-block {
      display: flex;
     flex-direction: column;
    }
     // .alternation__img

     &__img {


       &::after {
         display: none;
       }


     }

     // .alternation__text


   }
 }