 .brif {
   background: #ffd200 url("../img/brif/bg_brif.jpg") no-repeat center right;
   position: relative;
   background-size: contain;

   &::before {
     content: '';
     width: 50%;
     height: 100%;
     background-color: #ffd200;
     top: 0;
     left: 0;
     position: absolute;
   }

   &-block {
     padding: 60px 0;
     display: flex;
     justify-content: space-between;
   }

   // .brif__form

   &__form {
     
     padding-left: 8%
   }

   &__btn {
     margin-bottom: 33px;
     width: 100%;
     padding: 20px 0;
   }

   // .brif__input

   &__input {
     display: block;
     margin-bottom: 15px;
     max-width: 370px;
     width: 100%;
   }

   &-question {
     position: relative;
     @include bold;
     padding-right: 10%;
     // .brif-question__title

     &__title {
       font-size: 22px;
       line-height: 1.5;
       margin-bottom: 50px;
       max-width: 515px;
     }

     // .brif-question__subtitle

     &__subtitle {
       font-size: 16px;
       margin-bottom: 100px;


     }

     // .brif-question__list

     &__list {}

     // .brif-question__item

     &__item {
       font-size: 18px;

       margin-bottom: 25px;

       display: flex;

       align-items: center;
     }

     // .brif-question__num

     &__num {

       justify-content: center;

       display: flex;
       width: 30px;
       height: 30px;
       border: solid 2px #000;
       border-radius: 50%;
       padding: 5px;
       margin-right: 30px;
     }

     // .brif-question__text

     &__text {
       max-width: 380px;
     }
   }

   &-form {
     // .brif-form__title
     position: relative;
     &__title {
       font-size: 22px;
       line-height: 1.5;
       text-align: center;
       max-width: 350px;
       @include bold;
       margin-bottom: 52px;
     }

     // .brif-form__subtitle

     &__subtitle {
       text-align: center;
       margin-bottom: 50px;
     }

     // .brif-form__text

     &__text {}
   }



 }


 @media screen and (min-width:768px) and (max-width:1024px) {
   .brif {
     &-block {
       flex-direction: column;
     }
   }
 }

 @media screen and (max-width:767px) {}