 .cards {
   padding: 80px 0;
 }

 .cards-block {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   // .cards-block__item

   &__item {
     max-width: 370px;
     position: relative;
     margin: auto;
     margin-bottom: 30px
   }

   // .cards-block__text

   &__text {
     font-size: 16px;
     line-height: 1.44;
     position: absolute;
     max-width: 280px;
     margin-left: 25px;
     margin-top: 25px;
   }

   // .cards-block__img

   &__img {
     object-fit: cover;
   }
 }