.feedback {
  width: 100%;
  display: flex;
  padding-top: 110px;
  flex-wrap: wrap;

  @include w-to(768px) {
    padding-top: 37px;
  }

  &__questions {
    width: 50.15%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #ffc000;
    padding: 76px 0;

    @include w-to(768px) {
      padding: 24px 21px 43px;
    }

    @include w-to(991px) {
      width: 100%;
    }
  }

  &__form {
    width: 49.7%;
    background-image: url('../assets/img/practic/form-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 76px 0;

    @include w-to(991px) {
      width: 100%;
    }

    @include w-to(768px) {
      padding: 56px 21px 15px;
    }

    display: flex;
    justify-content: center;

    &_block {
      margin-left: -150px;
      max-width: 370px;

      @include w-to(1200px) {
        margin-left: 0;
      }
    }

    .feedback__inputs {
      margin-bottom: 13px;

      @include w-to(768px) {
        margin-bottom: 2px;
      }

      .inputs__wrap {
        @include w-to(320px + 1px) {
          width: 97%;
        }
      }

      input {
        max-width: 100%;
        width: 100%;
        background: white;

        &:first-child {
          margin-bottom: 14px;

          @include w-to(768px) {
            margin-bottom: 7px;
          }
        }

      }
    }

    .feedback__button {
      width: 100%;
      max-width: 100%;
      min-height: 70px;

      @include bold;
      font-size: 16px;
      line-height: 18px;

      margin-bottom: 12px;

      @include w-to(768px) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  &__title {
    @include bold;
    font-size: 22px;
    line-height: 33px;
    text-align: center;

    @include w-to(768px) {
      font-size: 18px;
      line-height: 25.35px;
    }
  }

  &__subtitle {

    font-size: 16px;
    line-height: 35px;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 39px;

    @include w-to(768px) {
      font-size: 14px;
      line-height: 26.88px;
      margin-top: 16px;
      margin-bottom: 30px;
    }
  }

  &__moment {


    font-size: 15px;
    line-height: 24px;
    text-align: center;

    @include w-to(768px) {
      font-size: 14px;
      line-height: 24px;
      max-width: 150px;
      margin: 14px auto;
    }

    @include w-from(991px) {
      margin-bottom: 90px;
    }
  }
}

.questions {
  max-width: 585px;
  width: 100%;

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    padding-left: 1px;
    @include bold;

    &:nth-child(1) {
      @include w-to(768px) {
        margin-bottom: 26px;
      }
    }

    &:nth-child(2) {
      @include w-to(768px) {
        margin-bottom: 18px;
      }
    }

    &:nth-child(3) {

      @include w-to(768px) {
        margin-bottom: 20px;
      }

      .questions__text {
        padding-top: 5px;

      }

      margin-bottom: 34px;
    }
  }

  &__title {
    @include bold;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 30px;

    @include w-to(768px) {
      font-size: 18px;
      line-height: 22px;
      max-width: 220px;
      margin-bottom: 0;
    }
  }

  &__subtitle {

    font-size: 16px;
    line-height: 45px;
    margin-bottom: 81px;

    @include w-to(768px) {
      font-size: 14px;
      line-height: 16px;
      max-width: 220px;
      margin-bottom: 38px;
    }
  }

  &__list {
    font-size: 18px;
    letter-spacing: -0.5px;
    max-width: 446px;

    @include w-to(768px) {
      font-size: 14px;
    }
  }

  &__num {
    min-width: 31px;
    height: 31px;
    border: 2px solid #000000;
    border-radius: 50%;
    @include bold;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 33px;

    @include w-to(768px) {
      margin-right: 8px;
    }
  }
}



.inputs {
  &__wrap {
    width: 100%;
    position: relative;
  }

  input {
    width: 100%;
    padding-left: 23px;
    height: 65px;
    border-radius: 10px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    transition: 0.2s;

    color: #999999;
    font-family: "Museo Sans Cyrl -300", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;

    &:focus {
      border: 1px solid #ffd200;
    }
  }
}



.inputs .invalid {
  border: 1px solid red;
  color: red;
}

.invalid-text {

  font-size: 12px;
  color: red;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.inputs .invalid-text {
  @extend .invalid-text;

  @include w-to(768px) {
    bottom: 12px;
    left: 23px;
  }
}

.feedback__inputs .invalid-text {
  font-family: Museo Sans Cyrl\ -300, Helvetica, Arial, sans-serif;
  font-size: 12px;
  bottom: 0;

  @include w-to(768px) {
    bottom: 12px;
    left: 23px;
  }
}