.header {
  &-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }

  &-img {
  }

  &-wrap {
    display: flex;
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    margin-right: 20px;
    &__adress {
    }

    &__phone {
    }
  }

  &__btn {
    padding: 20px 35px;
    }
}