 .main {

   // .main__img

   &__img {
     box-shadow: 8.1px 10.8px 17.5px 0 rgba(0, 0, 0, 0.05), 3.3px 2.2px 5px 0 rgba(0, 0, 0, 0.05);
   }

   &-block {
     display: flex;
     padding: 50px 0;
   }


   &-text {
     flex-basis: 50%;
     // .main-text__title

     &__title {
       @include bold;
       font-size: 40px;
       line-height: 1.34;
       margin-bottom: 50px;
     }

     // .main-text__subtitle

     &__subtitle {
       font-size: 20px;
       line-height: 1.34;
       @include bold;
       margin-bottom: 60px;
     }

     // .main-text__list

   

     // .main-text__item

     &__item {
       display: flex;
       align-items: center;
       margin-bottom: 30px;

       &:last-child {
         margin-bottom: 0;
       }
     }

     // .main-text__img

     &__img {
       border: 2px solid #ffd200;
       min-width: 40px;
       min-height: 40px;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 50%;
       margin-right: 30px;
     }

     // .main-text__text

     &__text {
       font-size: 14px;
       max-width: 275px;
     }
   }
 }


 @media screen and (min-width:768px) and (max-width:1024px) {
   .main {

     // .main__img

     &__img {
       box-shadow: 8.1px 10.8px 17.5px 0 rgba(0, 0, 0, 0.05), 3.3px 2.2px 5px 0 rgba(0, 0, 0, 0.05);
     }

     &-block {
       display: flex;
       padding: 50px 0;
     }

 

     &-text {
       flex-basis: 80%;
       // .main-text__title

       &__title {
         @include bold;
         font-size: 28px;
         line-height: 1.34;
         margin-bottom: 20px;
       }

       // .main-text__subtitle

       &__subtitle {

         line-height: 1.34;
         @include bold;
         margin-bottom: 30px;
       }

       // .main-text__list

    

       // .main-text__item

       &__item {
         display: flex;
         align-items: center;
         margin-bottom: 20px;

         &:last-child {
           margin-bottom: 0;
         }
       }

       // .main-text__img

       &__img {
         border: 2px solid #ffd200;
         width: 40px;
         height: 40px;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 50%;
         margin-right: 30px;
       }

       // .main-text__text

       &__text {
         font-size: 14px;
         max-width: 275px;
       }
     }
   }

 }

 @media screen and (max-width:767px) {
   .main {

     // .main__img

     &__img {
       box-shadow: 8.1px 10.8px 17.5px 0 rgba(0, 0, 0, 0.05), 3.3px 2.2px 5px 0 rgba(0, 0, 0, 0.05);
     }

     &-block {
       display: flex;
       padding: 50px 0;
       flex-direction: column;

     }

     &-img {
       text-align: center;
     }

     &-text {
       // .main-text__title

       &__title {
         font-size: 24px;
         margin-bottom: 10px;
       }

       // .main-text__subtitle

       &__subtitle {
         margin-bottom: 30px;
       }

       // .main-text__list


       // .main-text__item

       &__item {
         display: flex;
         align-items: center;
         margin-bottom: 20px;

         &:last-child {
           margin-bottom: 20px;
         }
       }

       // .main-text__img



       // .main-text__text


     }
   }
 }