 .main {

   // .main__img

   &__img {}

   &-block {
     display: flex;
     padding: 50px 0;
   }

   &-img {
     box-shadow: 8.1px 10.8px 17.5px 0 rgba(0, 0, 0, 0.05), 3.3px 2.2px 5px 0 rgba(0, 0, 0, 0.05);
   }

   &-text {
     flex-basis: 50%;
     // .main-text__title

     &__title {
       @include bold;
       font-size: 40px;
       line-height: 1.34;
       margin-bottom: 50px;
     }

     // .main-text__subtitle

     &__subtitle {
       font-size: 20px;
       line-height: 1.34;
       @include bold;
       margin-bottom: 60px;
     }

     // .main-text__list

     &__list {}

     // .main-text__item

     &__item {
       display: flex;
       align-items: center;
       margin-bottom: 30px;
       &:last-child{
         margin-bottom: 0;
       }
     }

     // .main-text__img

     &__img {
       border: 2px solid #ffd200;
       width: 40px;
       height: 40px;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 50%;
       margin-right: 30px;
     }

     // .main-text__text

     &__text {
       font-size: 14px;
       max-width: 275px;
     }
   }
 }