.price {

  // .price__list
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  // .price__item
  &__item {
    flex-basis: 31%;
    text-align: center;
    border: 1px solid #e8e8e8;
    margin-bottom: 30px;
    transition: 0.2s;

    &:hover {
      box-shadow: 0 6px 15px 0 rgba(0, 1, 1, .25);

      .price__img::before {
        opacity: 1;
      }
    }
  }

  &__img {
    position: relative;

    img {
      display: block;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, #ffd200 0%, rgba(225, 225, 225, 0)100%);
      opacity: 0;
      transition: 0.2s;
    }
  }

  // .price__text
  &__text {
    padding: 40px;
  }

  // .price__title
  &__title {
    margin-top: 0;
  }

  // .price__link
  &__link {
    position: relative;
    display: inline-block;
    margin-top: 20px;

    &:hover {
      &::after {
        height: 12px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 3px;
      display: block;
      background-color: #ffd200;
      transition: 0.2s;
    }
  }
}


@media screen and (min-width:768px) and (max-width:1024px) {
  .price {
    &__list {

      justify-content: space-around;

    }

    &__item {
      flex-basis: auto;
    }

  }
}

@media screen and (max-width:767px) {
  .price {
    &__list {
      justify-content: center;
    }

    &__item {
      flex-basis: auto;
    }

  }
}