* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Museo Sans Cyrl 300", sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
  color: #333333;
  @include bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.input {
  outline-color: #ffd200;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 16px 16px 35px;
  transition: .5s ease-in;

}


.section {
  padding: 80px 0;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  cursor: pointer;
  font: inherit;
  display: inline-block;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: .5s ease-in;
  vertical-align: top;
  color: #333333;
  @include bold;
}

.bg--yellow {
  background-color: #ffd200;
}

.btn--yellow {
  background-color: #ffd200;

  &:hover {
    background-color: #eab534;
  }

  &:active {
    background-color: #e5a722;
  }
}

.bg--grey {
  background-color: #f5f5f5;
}

.text--left {
  text-align: end;
}

.swiper-container {
  padding-top: 40px;
}

.section__title {
  @include bold;
  font-size: 30px;
  line-height: 1.34;
  text-align: center;
}
.section__subtitle
{
padding: 40px 0;
text-align: center;
}
.swiper-button {
  width: 200px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section__title {

    font-size: 24px;

  }
}

@media screen and (max-width: 767px) {
  .section__title {

    font-size: 20px;

  }

  .section {
    padding: 40px 0;
  }

  .swiper-container {
   padding-top: 30px;
  }
}